@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');


.figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.geral {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    max-width: 324px;
    width: 100%;
    box-shadow: 10px 10px 2px black;
}

.imagem-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px; /* funciona só com overflow: hidden */
    margin-bottom: 25px;
    
}

.cabeçário {
    background-color: hsl(47, 88%, 63%);
    max-width: 27%;
    padding: 4px;
    text-align: center;
    font-weight: 900;
    border-radius: 2px;
    margin-bottom: 15px;
}

.corpoh {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.título {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 15px;
}

.corpo {
    font-size: 14px;
    font-weight: 400;
    color: hsl(0, 0%, 42%);
    margin-bottom: 30px;
}

.rodapé {
    display: flex;
    
}

.autor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

.autorr {
    font-size: 14px;
    font-weight: 900;
    float: left;
    padding-top: 5px; /* não lembrava do float e padding, tive que consultar. */
} 